astroid==2.12.13
autopep8==2.0.0
bacpypes==0.18.6
dill==0.3.6
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
mypy==0.991
mypy-extensions==0.4.3
platformdirs==2.5.4
pycodestyle==2.10.0
pylint==2.15.8
tomlconfig @ git+https://github.com/JurajMarcin/tomlconfig.git@1.1.2
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
wrapt==1.14.1
